@import "tailwindcss";

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-65px);
  }
 
   100% {
    opacity: 1;
    transform: translateY(70px);
  }
}

.animate-slideDown {
  animation: slideDown 0.6s ease-out forwards;
}
