@import "tailwindcss";

@keyframes slideDown {
  0% {
    transform: translateY(-350px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 1.7s ease-out forwards;
}
